.taglist-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    color: black;
}

.taglist-clear-button {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.taglist-input-row {
    display: flex;
}

.taglist-tag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
    padding-right: 5px;
    border: 1px solid red;
    border-radius: 8px;
    background-color: red;
    white-space: nowrap;
    color: white;
}

.tag-color-red {
    border: 1px solid red !important;
    background-color: red !important;
}

.tag-color-orange {
    border: 1px solid orange !important;
    background-color: orange !important;
}

.taglist-tag button {
    margin-left: 5px;
    display: flex;
    padding: 3px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: white;
}