.event-listing-container {
    margin-left: 5%;
    margin-top: 3%;
}

.event-listing-title {
    color: #FFF;
    font-family: "Valorant";
    font-size: calc(2vmin + 40px);
    margin-bottom: 1%;
}

.event-listing-container-inner {
    display: flex;
    flex-flow: row wrap;
}
