.square {
    position: relative;
    width: 300px;
}

.event-pic {
    width: 300px;
    border-radius: 30px;
}

.event-preview-title-text {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #FFF;
    font-size: 100%;
    font-family: "Valorant";
}

.black-opaque-box {
    background-color: #000;
    color: #FFF;
    opacity: .5 !important;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 30px 30px;
}

.event-time {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #FFF;
    font-family: "FFMark";
    font-size: 80%;
}

.event-game-icon {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 30px;
}

.people-box {
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #FFF;
    font-family: "FFMark";
    border: 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
}