.event-preview-clickable-region {
    margin: 1%;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px transparent;
    transition: transform 0.25s, border 0.25s;
}

.event-preview-clickable-region:hover {
    transform: scale(1.01);
    border: solid 1px rgba(255, 255, 255, 0.35);
}

.square {
    position: relative;
    width: 20vw;
    height: 11.33vw;
    min-width: 300px;
    min-height: 170px;
    background-position: center;
    background-size: cover;
}

.square.empty {
    border-radius: 5px;
    border: dashed 1px #fff;
    color: #fff;
    font-size: calc(.5vw + 20px);
    font-weight: bold;
    font-family: 'FFMark';
    text-align: center;
    align-items: center;
    display: inline-flex!important;
    justify-content: center;
}

.event-pic {
    width: 100%;
}

.event-preview-title-text {
    position: absolute;
    top: 10%;
    left: 8%;
    color: #FFF;
    font-size: 100% !important;
    font-family: "Valorant";
    text-shadow: 2px 2px 20px black;
}

.black-opaque-box {
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
}

.event-time {
    position: absolute;
    right: 5%;
    color: #FFF;
    font-family: "FFMark";
    font-size: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.event-game-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
    height: 46%
}

.people-box {
    position: absolute;
    left: 1.5%;
    padding-left: 11.5%;
    color: #FFF;
    font-family: "FFMark";
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
}
