.tl_background {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.party:hover {
    color: #FFF;
}

.main-area-container {
    position: relative;
    text-align: center;
    color: #FFF;
    min-height: calc(100vh - 2rem - 2.5vmin - 45px);
    background-position: center;
    background-size: cover;
}

.title-text {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    letter-spacing: 8px;
    font-family: "Valorant";
    font-weight: bold;
    font-size: calc(10vmin);
}

.one-liner {
    position: absolute;
    bottom: 21%;
    left: 1%;
    right: 1%;
    font-family: "Valorant";
    font-weight: bold;
    font-size: calc(3vmin);
}

.main-button-position {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: "FFMark";
    src: url("../fonts/ffmark_light.otf");
    font-weight: 100 300;
}

@font-face {
    font-family: "FFMark";
    src: url("../fonts/ffmark.otf");
    font-weight: 400 600;
}

@font-face {
    font-family: "FFMark";
    src: url("../fonts/ffmark_bold.otf");
    font-weight: 700 800;
}

@font-face {
    font-family: "FFMark";
    src: url("../fonts/ffmark_black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Valorant";
    src: url("../fonts/valorant.ttf");
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}