.tl_background {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.party:hover {
    color: #FFF;
}

.main-area-container {
    position: relative;
    text-align: center;
    color: #FFF;
}

.title-text {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    font-family: "Valorant";
    font-weight: bold;
    font-size: calc(8vmin);
}

.one-liner {
    position: absolute;
    bottom: 20%;
    left: 1%;
    right: 1%;
    font-family: "Valorant";
    font-weight: bold;
    font-size: calc(2.5vmin);
}

.main-button-position {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: "FFMark";
    src: url("../fonts/ffmark.otf");
}

@font-face {
    font-family: "Valorant";
    src: url("../fonts/valorant.ttf");
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}