.dark-theme {
    background-color: #111;
}

.tl_icon {
    width: calc(2.5vmin + 45px);
}

.tl_party {
    color: #FFF;
    font-family: "Valorant";
    font-weight: bold;
    font-size: 150%;
    margin-top: 0.5%;
}

@font-face {
    font-family: "Valorant";
    src: url("../fonts/valorant.ttf");
}
